<div class="jumbotron">
    <!-- Start panel component -->
    <div class="tn-panel">
        <div class="panel">
            <div class="tn-rte">
                <p>{{message}}</p>
            </div>
            <div class="tn-rte">
                <p>You are on {{appname}}</p>
                <a href="http://mytn-testapp-2-tn-mytn-testapp-2.apps.non-production.a7p1.p1.openshiftapps.com/secured">Go to Test App 2 Secured Page</a>
            </div>
        </div>
    </div>
    <!-- Start panel component -->
</div>
